@page
@model Pizza_StoreV3.GetAllPizzasModel
@{
    ViewData["Title"] = "GetAllPizzas";
}
<h1>GetAllPizzas</h1>

<p>
    <a asp-page="CreatePizza">Create New Pizza</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>   
                <label asp-for="@Model.Pizza.Id"></label>
            </th>
            <th>
                <label asp-for="@Model.Pizza.Name"></label>
            </th>
            <th>
                <label asp-for="@Model.Pizza.Description"></label>
            </th>
            <th>
                <label asp-for="@Model.Pizza.Price"></label>
            </th>
            <th>
                
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {
            <tr>
                <td>
                    @item.Value.Id
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    @item.Value.Price
                </td>
                <td>
                    <img src="~/Images/@item.Value.ImageName"  width="60" height="70">
                </td>
            </tr>
        }
    </tbody>
</table>




